{% trans_default_domain 'admin' %}

<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3>{{ "media.folder.update.title"|trans }} <em>{{ folder.name }}</em></h3>
    </div>
    <div class="uk-modal-body">
        {% include 'MediaBundle:Admin:form_folder.html.twig' with {'form': form, 'folder': folder} %}
    </div>
</div>

{% javascripts
    'bundles/admin/js/common.js'
    'bundles/admin/js/uikit_custom.js'
    'bundles/admin/libs/materialize-tags/dist/js/materialize-tags.min.js'
    output="compiled/js/puzzle_admin_media_folder_update.min.js" 
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}